html,
body {
  height: 100%;
  background-color: #423144;
}
.dark-background,
.section {
  background-color: #423144;
}

.hero-head,
#navbarMenuHeroA {
  background-color: #352736;
}
.navbar-end {
  padding: 5px;
}
.navbar-end a {
  margin-bottom: 2px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #352736;
}
