html,
body {
  height: 100%;
  background-color: #2b2e4a;
}
.dark-background,
.section {
  background-color: #2b2e4a;
}

.hero-head,
#navbarMenuHeroA {
  background-color: #24273f;
}
.navbar-end {
  padding: 5px;
}
.navbar-end a {
  margin-bottom: 2px;
}
.links {
  color: #cf1b1b;
}
.links:hover {
  color: #900d0d;
}
#button {
  background-color: #900d0d;
}
#content {
  margin-top: 20px;
}
.footerImages {
  width: 80px;
  padding: 5px;
  background-color: #ffffff;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #24273f;
}
