<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="{{owner.avatar_url}}" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{name}}</strong>
                    <br>
                    <a href="{{url}}">Link to the Github Repo</a></br>
                    To clone this repo, click here: <a href="{{clone_url}}">Clone Url</a>
                </p>
            </div>
        </div>
    </article>
</div>