<footer>
    <div class="content has-text-centered">
        <p>&copy; | Adnan Ghafoor</p>
        <p>Using Bulma CSS with edits. Custom JS</p>
        <p>LinkedIn: <a class="linkedIn" href="https://www.linkedin.com/in/adnan-ghafoor-9bb42b1aa">Adnan Ghafoor</a>,
            Contact: <a href="mailto:adnan_ghafoor94@hotmail.com">My Email</a></p>
    </div>
</footer>