<footer>
    <div class="content has-text-centered" style="padding-top: 5px;">
        <p>&copy; | Adnan Ghafoor</p>
        <p>Using Bulma CSS with edits. Custom CSS and JS with Node and Express. Using the Github Api.</p>
        <a href="https://www.linkedin.com/in/adnan-ghafoor-9bb42b1aa"><img class="footerImages"
                src="/images/linkedin.png"></a>
        <a href="https://github.com/AGhafoor94"><img class="footerImages" src="/images/github.png"></a>
    </div>
</footer>