<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
            Portfolio
        </h1>
        <h2 class="subtitle">
            Welcome to my Portfolio</br>
            I'm Full Stack Trainee
        </h2>
    </div>
</div>