<div class="navbar-brand">
    <a class="navbar-item" href="/home">Portfolio</a>
    <div id="navMenuColorBlack-example" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="/about-me">About Me</a>
                <a href="/projects">Projects</a>
            </div>
        </div>
    </div>
</div>